// Variables / Colors
// --------------------------------------------------

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black: #000;
$white: #fff;

$gray-10: #e2e2e2;
$gray-20: #c5c5c5;
$gray-30: #ababab;
$gray-40: #919191;
$gray-50: #787878;
$gray-60: #5e5e5e;
$gray-70: #464646;
$gray-80: #303030;
$gray-90: #1c1c1c;



