// Variables / Theme
// --------------------------------------------------

$body-bg: $gray-10;

$primary: $black;
$secondary: $blue;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
);
